:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  color-scheme: light dark;
  color: #242424;
  background-color: rgb(250, 250, 250);
}

body {
  margin: 0;
  // display: flex;
  box-sizing: border-box;

  h1 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  .btn {
    background-color: #00FF61;
    color: #242424;
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    transition: all ease-in-out 0.5s;
  }

  .btn-alternative {
    background-color: rgb(204, 204, 204);
  }

  .btn:hover {
    background-color: #242424;
    color: #ffffff;
    transition: all ease-in-out 0.5s;
  }

  .btn-alternative:hover {
    background-color: #02a741;
    color: #242424;
  }
}

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

@media (min-width: 1400px) {
  body {
    .btn {
      font-size: 20px;
    }
  }
}